<div class="container-sm p-4 rounded-3">
    <form action="/domains" method="post">
        <div class="row">
            <div class="col-12 col-md-10 mb-2 mb-md-0">
                <div class="form-floating">
                    <input type="text" class="form-control" name="domain" id="correo" aria-describedby="emailHelp" placeholder="Dominio de API" required>
                    <label for="correo">Dominio de API</label>
                </div>
            </div>
            <div class="col-12 col-md-2 d-grid gap-2">
            <button class="btn btn-primary" type="submit">Agregar</button>
            </div>
        </div>
    </form>
</div>
