<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-center">
        <img src="static/img/moodle.svg" width="50px"/>
        <span class="navbar-brand mb-0 fs-6">ExtIA - Pruebas</span>
    </div>
</footer>
